* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: url('../assets/irongrip.png') repeat;
}
.container {
  height: 100%;
  margin-bottom: -60px;
}

header {
  height: 60px;
  color: #fff;
  background-color: #222;

  nav {
    padding-top: 15px;
  }

  .nav-left {
    float: left;
  }

  .nav-right {
    float: right;
  }

  li {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }

  a {
    color: #fff;
  }
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #fff;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../assets/war-room.jpg');
  background-position: center;
  height: 100%;
  width: 100%;

  .btn-enter {
    font-size: 2em;
    font-family: 'Black Ops One', cursive;
    color: #fff;
    border: 1px solid #fff;
  }
}

.servers {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.server-container {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-status {
 width: 220px;
 height: 80px;
 color: #fff;
 background-color: #183ede;
 align-self: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.good {
  background-color: #04d400;
}

.warning {
  background-color: #ffa800;
}

.critical {
  background-color: #cf0000;
}

.settings {
  margin: 20px;
}

.settings div {
  display: flex;
  float: left;
  clear: both;
}

.settings div p{
  width: 150px;
}

select {
  width: 100px;
  float: left;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #222;
}

// Animations
.ng-enter {
  animation: fadeInLeft 1s;
}

.ng-leave {
  animation: fadeOutRight 1s;
}

// Media Queries
@media (max-width: 784px) {
  .server-status {
    width: 120px;
  }
}

@media (max-width: 520px) {
  .servers {
    flex-direction: column;
  }

  .server-status {
    width: 220px;
  }
}
